.about-container {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f8f8f8;
  width: 50%;
  max-height: 100%;
  margin: auto;
}
.text-about {
  display: flex;
  text-align: center;
  color: black;
}
