.card {
  display: flex;
  flex-direction: row;
}

.player-hand {
  margin-bottom: 20px;
}
.api-card {
  height: 80px;
  width: 60px;
}
.blackjack-game {
  text-align: center;
  margin-top: 50px;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}
.drawn-card {
  animation: drawCardAnimation 0.5s linear;
}

@keyframes drawCardAnimation {
  from {
    transform: translateX(-200%); /* Ou la valeur appropriée pour votre cas */
  }
  to {
    transform: translateX(0);
  }
}
.deck {
  background-color: #000;
  position: relative;
  width: 100px;
  height: 150px;
  border: 1px solid #000;
  border-radius: 8px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
