.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  overflow: hidden;
  width: 100vw;
  overflow-x: hidden;
  background: linear-gradient(to right, #1a1a1a, #534a15ad);
  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.1),
    0 4px 8px rgba(0, 0, 0, 0.1);
  @media (max-width: 480px) {
    min-height: 60px;
  }
}

.friend-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.notification-icon {
  width: 100%;
}

.logo {
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s ease;
}

@media (max-width: 768px) {
  .logo-desktop {
    display: none;
  }
}

.logo-desktop {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s ease;
}

.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  background: none !important;
  border: none;
  cursor: pointer;
  color: #b8860b;
  transition: transform 0.3s;
}

.menu-button:hover {
  transform: scale(1.1);
}

.menu-button.open {
  transform: rotate(90deg);
}

.mobile-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  justify-content: space-around;
  align-items: center;
  top: 6.8rem;
  width: calc(15rem - 20px);
  height: 80%;
  z-index: 1000;
  box-sizing: border-box;
  background-color: #1a1a1a;
  padding: 2rem;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  opacity: 0;
  transform: translateY(-20px);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

.mobile-menu a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  margin: 0.5rem;
  transition: color 0.3s;
}
.mobile-menu a.logout {
  color: red;
  font-family: "Montserrat", sans-serif !important;
}

.mobile-menu a:hover {
  color: #b8860b;
}

.navbar.menu-open .mobile-menu {
  display: flex;
  opacity: 1;
  transform: translateY(0);
}

.header-content {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.text-container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.messagedefilant {
  display: block;
  margin: auto;
  padding: auto;
  overflow: hidden;
  position: relative;
  width: 60%;
  height: 60px;
  margin-top: 2rem;
}

.messagedefilant div {
  position: absolute;
  min-width: 100%;
}

.messagedefilant div span,
.messagedefilant div:after {
  position: relative;
  display: inline-block;
  font-size: 1.3rem;
  white-space: nowrap;
  top: 0;
}

.messagedefilant div span {
  animation: defilement 20s infinite linear;
}

.messagedefilant div:after {
  position: absolute;
  top: 0;
  left: 0;
  content: attr(data-text);
  animation: defilement2 20s infinite linear;
}

@keyframes defilement {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -100%;
  }
}

@keyframes defilement2 {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: 0%;
  }
}
