.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #333;
  padding: 0;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}
.logo-image {
  width: 2rem;
}
.logo {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s ease;
}
@media (max-width: 768px) {
  .logo-desktop {
    display: none;
  }
}
.logo-desktop {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s ease;
}

.menu-button {
  display: none;
  font-size: 20px;
  background: none !important;
  border: none;
  cursor: pointer;
  color: white;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  left: 0;
  background-color: #333;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  display: none;
}

.mobile-menu a {
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .menu-button {
    display: block;
  }

  .navbar.menu-open .mobile-menu {
    display: flex;
  }
}
