.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  overflow: hidden;
  width: 100vw;
  overflow-x: hidden;
  background: linear-gradient(to right, #1a1a1a, #534a15ad);
  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.1),
    0 4px 8px rgba(0, 0, 0, 0.1);
  @media (max-width: 480px) {
    min-height: 60px;
  }
}

.friend-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.notification-icon {
  width: 100%;
}

.logo {
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s ease;
}

@media (max-width: 768px) {
  .logo-desktop {
    display: none;
  }
}

.logo-desktop {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s ease;
}

.menu-button {
  display: none;
  font-size: 40px;
  background: none !important;
  border: none;
  cursor: pointer;
  color: #b8860b;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  margin-right: 0;
  z-index: 1000;
  box-sizing: border-box;
}

.mobile-menu a {
  display: flex;
  text-decoration: none;
  margin: 0.5rem;
  color: white;
  justify-content: center;
}

.menu-button {
  display: block;
}

.navbar.menu-open .mobile-menu {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 4rem;
  width: 100%;
  height: 100vh;
  background-color: #000000;
  a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin: 1rem;
    transition: color 0.3s ease;

    &:hover {
      color: #b8860b;
    }
  }
}

.header-content {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.text-container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.messagedefilant {
  display: block;
  margin: auto;
  padding: auto;
  overflow: hidden;
  position: relative;
  width: 60%;
  height: 60px;
  margin-top: 2rem;
}

.messagedefilant div {
  position: absolute;
  min-width: 100%;
}

.messagedefilant div span,
.messagedefilant div:after {
  position: relative;
  display: inline-block;
  font-size: 1.3rem;
  white-space: nowrap;
  top: 0;
}

.messagedefilant div span {
  animation: defilement 20s infinite linear;
}

.messagedefilant div:after {
  position: absolute;
  top: 0;
  left: 0;
  content: attr(data-text);
  animation: defilement2 20s infinite linear;
}

@keyframes defilement {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -100%;
  }
}

@keyframes defilement2 {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: 0%;
  }
}
