.settings-container {
  max-width: 400px;
  margin: auto;
  background: linear-gradient(to right, #1a1a1a, #534a15ad);
  padding: 2rem;
  border-radius: 6px;

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .settings-list-container {
    display: flex;
    flex-direction: column;

    label {
      margin-bottom: 10px;
      font-size: 14px;
      display: flex;
      flex-direction: column;
      color: white;

      input {
        padding: 8px;
        font-size: 14px;
      }
    }

    button {
      padding: 10px;
      background-color: #4caf50;
      color: white;
      cursor: pointer;
      font-size: 16px;
      border: none;
      border-radius: 4px;
      margin-top: 10px;
    }
    .button-delete {
      background-color: #97202c !important;
    }
  }

  .error-input {
    border: 1px solid red;
  }

  .error-input-firstname {
    border: 1px solid red;
  }

  .error-input-lastname {
    border: 1px solid red;
  }

  .error-input-pseudoname {
    border: 1px solid red;
  }

  .error-input-newPassword {
    border: 1px solid red;
  }

  .error-input-confirmNewPassword {
    border: 1px solid red;
  }

  p {
    margin-top: 10px;
    color: red;
  }
}
.password-info {
  font-size: 0.8em;
  color: #ffffff !important;
  margin-bottom: 5px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 998;
}

.settings-container.popup-open {
  position: relative;

  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 997;
  }
}

.custom-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  z-index: 999;
  text-align: center;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;

  p {
    margin-bottom: 20px;
    color: #333;
    font-size: 16px;
  }

  button {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin: 0 10px;
    font-size: 14px;
  }

  .button-yes {
    background-color: #1551c2 !important;
    color: #fff;
  }

  .button-no {
    background-color: #97202c !important;
    color: #fff;
  }
}
