.wheel-of-fortune-container {
  height: 100vh;
  position: relative;
}

#wheel {
  position: absolute;
  left: 60%;
  top: 60%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
